.container {
  max-width: 1100px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header {
  display: flex;
  align-items: center;
  padding: 52px 80px 56px 50px;
}

.header_logo_container {
  width: 148px;
  height: 105px;
}

.header_logo_image {
  margin: 0 194px 0 0;
}

.header_menu {
  display: flex;
  margin: 0 45px 0 0;
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: left;
}

.header_adres {
  word-wrap: break-word;
}

.header_links {
  list-style-type: none;
}

.header_links_text {
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0;
  text-align: left;
}

.header_menu > a:nth-child(2) {
  position: relative;
  margin-left: 31px;
}

.header_menu > a:nth-child(2)::before {
  content: " ";
  position: absolute;
  top: 7px;
  left: -19px;
  box-sizing: border-box;
  width: 7px;
  height: 7px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
}

.header_menu > a:nth-child(3) {
  position: relative;
  margin-left: 31px;
}

.header_menu > a:nth-child(3)::before {
  content: " ";
  position: absolute;
  top: 7px;
  left: -19px;
  box-sizing: border-box;
  width: 7px;
  height: 7px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 7px;
}

.header_links_underline {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.title {
  box-sizing: border-box;
  margin-bottom: 179px;
  padding: 165px 50px 51px;
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url("../images/cover.jpg");
  background-position: center;
  background-size: cover;
  background-blend-mode: multiply;
}

.title_head_text {
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.text_top {
  margin-bottom: 20px;
  line-height: 115%;
  letter-spacing: 30px;
  word-spacing: -25px;
}

.text_center {
  margin-bottom: 20px;
  line-height: 100px;
  letter-spacing: 30px;
  text-align: center;
}

.text_right {
  margin-bottom: 135px;
  line-height: 100px;
  letter-spacing: 12px;
  text-align: end;
}

.title_text_letter {
  letter-spacing: 60px;
}

.no_letter_space {
  letter-spacing: 0;
}

.title_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: left;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.title_button {
  border: 1px solid rgb(255, 255, 255);
  padding: 12px 32px 11px 31px;
  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  white-space: nowrap;
}
.cards {
  margin-bottom: 146px;
}
.cards_title {
  padding: 0 892px 27px 64px;
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}

.cards_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
  gap: 25px;
  padding: 0 24px 30px;
}

.card_title {
  padding: 51px 40px 0;
  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: left;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card_text {
  padding: 0 40px 48px;
  color: rgb(255, 255, 255);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  text-align: left;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 334px;
  min-height: 563px;
  background-color: rgba(0, 0, 0, 0.6);
  background-size: cover;
  background-blend-mode: multiply;
}

.first_card {
  background-image: url(../images/card-lot-01.jpg);
}

.second_card {
  background-image: url(../images/card-lot-02.jpg);
}

.third_card {
  background-image: url(../images/card-lot-03.jpg);
}

.card_link {
  padding-left: 64px;
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0;
  text-align: left;
}

.about {
  margin-bottom: 180px;
  padding: 0 24px 0;
}

.about_section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1/3fr;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  box-sizing: border-box;
  padding: 35px 0 0 47px;
}
.about_logo {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
}

.about_image {
  width: 141px;
  height: 112px;
  margin: 65px 47px 62px 50px;
}

.about_all_text {
  margin-left: -20px;
  padding-top: 102px;
}

.about_title {
  justify-content: center;
  align-items: center;
  padding-bottom: 102px;
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0;
  text-align: left;
  text-transform: uppercase;
}

.about_text {
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  word-spacing: 0.2px;
}

.about_text_first {
  margin-bottom: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 50px 88px;
}

.footer_logo {
  display: flex;
  gap: 48px;
}

.footer_image {
  width: 48px;
  height: 48px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 21px;
}

.footer_text {
  color: rgb(0, 0, 0);
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.footer_links_text {
  max-width: 220px;
  line-height: 24.3px;
  letter-spacing: 0;
  text-align: left;
}
